
:host {
  display: block;
  font-family: Arial, sans-serif;
}

.mat-mdc-row{
    height: 80px;
    
}

:ng-deep .mat-mdc-row, mdc-data-table__content{

  border-left-color: #f0f0f0;
  border-right-color: #f0f0f0;
  border-bottom-color: #f0f0f0;
}

.mat-mdc-table[_ngcontent-ng-c466190646] {
  min-width: 100%;
  table-layout: auto;
  white-space: normal;
  background-color: #ffffff;
  border-left: 3px solid #f0f0f0;
  border-right: 3px solid #f0f0f0;
  border-bottom: 3px solid #f0f0f0;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
 
}

.mat-row:first-child {
  border-left: 1px solid rgb(97 82 82);
}

.mat-mdc-header-cell {
  border-bottom-color: transparent;
  border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
  border-bottom-style: solid;
  letter-spacing: var(--mat-table-header-headline-tracking, var(--mat-app-title-small-tracking));
  font-weight: 400;
  font-size: 18px;
  line-height: inherit;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  text-align: left;
}
.active-link {
    background-color: #d7dbdb; 
    font-weight: bold;        
  }


mat-toolbar {
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  height: 80px
}

mat-toolbar h1 {
  margin: 0;
  font-size: 24px;
}


mat-sidenav-container {
  height: 100vh;
}

h2{
    margin-top: 4%;
    margin-left: 5.4%;
}
.name{
    font-size: 15px;
}
.brand-name {
    font-size: 35px;
    font-weight: 500;
    padding: 2%;
  }
mat-sidenav {
  width: 220px;
  background: #f0f0f0;
  border-radius: 0%;
}
mat-sidenav-content{
    background: #fafafa;

}
mat-sidenav mat-nav-list {
  margin-top: 20px;
  
}

mat-paginator ::ng-deep .mat-mdc-paginator-container {
    display: flex; 
    align-items: center;
    justify-content: space-between  !important;
    padding: 0 80px;
    flex-wrap: wrap;
    width: 100%;
}

mat-paginator[_ngcontent-ng-c3529048284] {
    margin-top: 0px; 
}

mat-paginator ::ng-deep.mat-mdc-paginator-range-label {
  /* margin: 0 640px 0 24px; */
 position: absolute;
 left: 0;
 margin-left: 280px;
}


mat-paginator::ng-deep .mdc-notched-outline > * {
  border: none !important;
}


.mat-mdc-paginator {
  display: block;
  margin-top: 0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #7b7d85;
  background-color: var(--mat-paginator-container-background-color, var(--mat-app-surface));
}



mat-paginator ::ng-deep.mat-mdc-paginator-page-size-select {
  margin: 0 4px;
  width: 84px;
  background-color: #f0f0f0;
  border-radius: 10px;
  height: 25px;
  width: 80px;
  justify-content: center;
  
}
mat-table {
  width: 100%;
  border: 1px solid #ddd;
}

mat-header-cell, mat-cell {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.mat-mdc-nav-list .mat-mdc-list-item {
    border-radius: 0px;
    --mat-mdc-focus-indicator-border-radius: var(--mat-list-active-indicator-shape, var(--mat-app-corner-full));
}

mat-header-cell {
  font-weight: bold;
}

.actions-cell {
  display: flex;
  gap: 10px;
}

.actions-cell button {
  min-width: 36px;
  padding: 5px;
}

.country-flag {
  width: 24px;
  height: auto;
}


mat-paginator {
  margin-top: 20px;
}



.example-spacer {
    flex: 1 1 auto;
  }

  .table-container {
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    width: 90%;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); */
    position: relative;
   
}

.mat-mdc-table {
    min-width: 100%;
    table-layout: auto;
    white-space: normal;
    background-color: #ffffff;
    border-left-color: #f0f0f0;
}


.mat-mdc-cell {
  border-bottom-color: #f0f0f0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  letter-spacing: var(--mat-table-row-item-label-text-tracking, var(--mat-app-body-medium-tracking));
  line-height: inherit;
  
}
  
.mat-mdc-header-row {
    background-color: #f0f0f0;
}

.search-container {
    display: flex;
    justify-content: flex-end; 
   
    
  }
  
  .example-full-width {
    width: 30%; 
    margin-right: 5%;
  }
  
  .onboarding-bg {
    background-color: #d8d8d8; 
    padding: 6px 20px; 
    border-radius: 4px; 
  }
  
  .leaves-bg {
    background-color: #f0f0f0;
    padding: 6px 20px;
    border-radius: 4px;
  }
  
  .attendance-bg {
    background-color: #969696; 
    padding: 6px 20px;
    border-radius: 4px;
    color: white;
  }
 
  img.flag {
    max-width: 40px; 
    max-height: 40px; 
  }

@media (max-width: 790px) {
    mat-sidenav {
      display: none;
    }
    mat-toolbar .menu-button {
      display: block;  
    }

    .table-scroll-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; 
        margin: 0 10px; 
      }
    
    mat-table {
        min-width: 600px; 
      }


    mat-paginator ::ng-deep .mat-mdc-paginator-container {
        display: flex; 
        align-items: center;
        justify-content:  center;
        padding: 10px ;
        margin-left: 6%;
        flex-wrap: wrap;
        width: 100%;
    }

    @media (max-width: 510px) {
    mat-paginator ::ng-deep.mat-mdc-paginator-range-label {
      /* margin: 0 640px 0 24px; */
 
      position: relative;
      left: 0;
      margin-left: auto;
    }

    mat-paginator ::ng-deep .mat-mdc-paginator-container {
      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content:  center;
      padding: 10px ;
      margin-left: 6%;
      flex-wrap: wrap;
      width: 100%;
  }
  }
  }
  

  .menu-button {
    display: none;
  }